@model QuestionOption

@{
    ViewData["Title"] = "QuestionOptionsUpdate";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <hr /><br />
        <h2 style="font-weight:bold;color:blueviolet;text-align:center"> SEÇENEK GÜNCELLEME YERİ </h2>
        
        <br /><hr />


        <form method="post">
            <input type="hidden" asp-for="QuestionOptionID" />
            <input type="hidden" asp-for="Question_ID" />
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Güncellenecek DEĞER</span>
                </div>
                <input type="text" class="form-control" required asp-for="OptionDescription">
            </div>

            <button type="submit" class="btn btn-lg my-5 btn-block btn-outline-primary">Şıkkı Güncelle</button>
        </form>

    </div>
</div>

