@model UserEditViewModel

@{
    ViewData["Title"] = "ProfileEdit";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<form method="post" enctype="multipart/form-data">
    @Html.Label("Adınız")
    <input type="text" asp-for="name" class="form-control" />
    <br />
    @Html.Label("Soyadınız")
    <input type="text" asp-for="surname" class="form-control" />
    <br />
    @Html.Label("Mail Adresiniz")
    <input type="text" asp-for="email" class="form-control" />
    <br />
    <div class="row">
        <div class="col-md-12 pr-md-1">
            <div class="form-group">
                <input type="checkbox" id="disableRow[]" asp-for="changePassword">
                <label>Şifremi Değiştirmek İstemiyorum</label> <br />
                <label for="exampleInputEmail3">Yeni Şifreniz</label>
                <input type="text" asp-for="password" class="form-control" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Resim Seçiniz</label>
        <input type="file" name="img" />
    </div>
    <br />
    <button class="btn btn-primary">Bilgileri Güncelle</button>
</form>

<script>
    $("input:checkbox[id^='disableRow']").prop("checked", false);

    $("input:checkbox[id^='disableRow']").on("change", function () {
        $(this).closest("div").find("input:text, select").prop("disabled", this.checked);
    });
</script>
